body {
    font-family: sans-serif;
    overflow-y: scroll;
    color: #333;
    padding: 0;
    margin: 0;
}


#main {
    width: 100%;
}

#main-in {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

#visibility-icon{
    background-image:url("../images/visibility.png");
    float: left;
    width: 25px;
    height: 15px;
}

.brand-header {
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 27px;
    font-family: cursive, verdana, sans-serif;
}
.view-site {
    background-color: #00AAE8;
    padding: 3px 8px;
    margin-top: 10px;
    margin-left: 15px;
    display: inline;
    float: left;
    color: #121212;
    font-size: 14px;
}

#top-header {
    width: 100%;    
    float: left;
    z-index: 100;
    background-color: #181818;
    display: block;
    height: 40px;
    padding: 0;
    margin: 0;
    padding: 2px 8px;
    position: fixed;
    display: inline-block;
    top:0;
    left: 0;
}

.header-menu-right {
    float: right;
    padding: 0;
    margin: 0;
}

.header-menu-right {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-menu-right li {
    float: left;
    margin-left: 15px;
    display: inline-block;
    position: relative;
}

.header-menu-right li .profile-image {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid #222;
    background-color: #000;
    float: left;
    overflow: hidden;
}

.header-menu-right li .profile-image img{
    height: 100%;
}



.header-menu-right li a{
    padding: 12px 10px;
    color: #333;
    float: left;
    font-size: 13px;
}

.header-menu-right li a{
    color: #02AFEC;
    float: left;
}
.header-menu-right li a:hover{    
    color: #999;
    background: none;
    box-shadow: none;
}

.profile-drop-down {
    width: 230px;
    float: left;
    background-color: #E5E5E5;
    border: 1px solid #CCC;
    position: absolute;
    right: 0px;
    top: 38px;
    padding: 15px;
    box-shadow:0 0 10px #131;
    display: none;
}

.header-menu-right li:hover .profile-drop-down{
    display: block;
}   

.profile-drop-down .profile-image-dropdown {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #222;
    background-color: #000;
    float: left;
    overflow: hidden;
}


.profile-drop-down .profile-image-dropdown img{
    height: 100%;
}

.profile-drop-down li {
    width: 121px;
    float: left;
    border-top:1px solid #AAA;
}

.profile-drop-down li:last-child {
    border-bottom:1px solid #AAA;
}

.profile-drop-down li a{
    width: 100%;
    color: #00AAE8;
    padding: 4px 6px;
    margin: 0;
    box-shadow: inset #CCC 0 0 20px;
}

.profile-drop-down li a:hover{
    //background-color: #366343;
    color: #333;
    box-shadow: inset #CCC 0 0 5px;
}

.add-news input#news_title {
    padding: 5px 8px;
    font-size: 18px;
    font-weight: bold;
    color: #131;
}

.brand-header {
    color: #FFF;
}

#sidebar {
    width: 240px;
    float: left;
    padding: 0px 10px 10px;
    position: fixed;
    display: block;
    background-color: #181818;
    height: 1000px;
    top: 40px;
    left: 0;
    z-index: 50;
}

#main-body-wrapper {
    //position: relative;
    float: left;
    width: 1105px;
    margin: 0;
    margin-left: 240px;
    margin-top: 40px;
    padding: 0;
}

.main-body-page-header {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-family: cursive, verdana, sans-serif;
    font-size: 20px;
    color: #222;
}

#main-body {
    width: 100%;
    //position: relative;
    display: inline-block;
    float: right;
    margin-left: 300px;
    padding: 15px;
    margin: 0;
    z-index: 30;
}


#manu-cont {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid darkcyan;
}

.ad-menu {
    width: 100%;
    list-style-type: none;
    float: left;
}

.ad-menu li {
    display: block;
    float: left;
    width: 100%;
    height: 30px;
    margin-bottom: 1px;
    //background-color: #00a3cc;
    
}

.ad-menu li a{
    background-color: 	#00b300;
    //background-color:darkgreen;
    padding: 4px 10px;
    color: #000;
    height: 30px;
    width: 100%;
    float: left;
    text-shadow: 0 1px 0 #00e600;
    //font-weight: bold;
    font-size: 15px;
    border-top: 1px solid #00e600;
    transition: 0.5s;
    font-family: verdana;
}

.ad-menu li a:hover{
    color: #555;
    background-color:#366343;
    text-shadow: none;
} 
.ad-menu li ul {
    position: absolute;
    left: 238px;
    display: inline-block;
    float: left;
    background-color: #008000;
    padding: 2px;
    width: 230px;
    display: none;
}

.ad-menu li ul:before {
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid #008000;
    border-bottom: 9px solid transparent;
    content: " ";
    float: left;
    position: absolute;
    left: -9px;
    top: 5px;
    display: block;
}

.ad-menu li:hover > ul {
    display: block;
    box-shadow: 2px 0 0px 3px #222;
}
.ad-menu li:hover a {
    color: #ddd;
    background-color:#006000;
    text-shadow: none;
}

.ad-menu li:hover > ul a{
    color: #AAA;
}

.ad-menu li ul li {
    float: left;
    display: block;
    text-align: left;
    box-shadow: none;
}
.ad-menu li ul li a{
    padding-top: 5px;
    float: left;
    background-color: #EEE;
    border: none;
    box-shadow: none;
    color: #000;
    
}

.ad-menu li ul li a:hover{
    color: #999;
    background-color: #333;
    box-shadow: inset 0 0 6px #111;
}

pre {
    width: 100%;
    border:1px solid #EEE;
    float: left;
}


/*-------------------------------------*/
/*------------WIDGET STYLES-------------/
/*-------------------------------------*/

.magrin-left {
    margin-left: 15px;
}

.magrin-right {
    margin-right: 15px;
}

.widget,
.widget-header,
.widget-body {
    width: 100%;
    float: left;
}

.widget {
    border: 1px solid #d4d4d4;
    margin-bottom: 15px;
    position: relative;
    box-shadow: 0 0 8px #DDD;
}

.widget-header {
    height: 30px;
    padding: 6px 10px;
    font-weight: 400;
    background-color: #eee;
}

.widget-header h2 {
    font-size: 15px;
    color: #333;
    margin: 0;
}

.widget-body {
    min-height: 100px;
    padding: 10px;
    border-top: 1px solid #d4d4d4;
}

::selection {
    background-color: #000;
    color: #FFF;
}

.contet-list thead tr td,.contet-list tbody tr td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #333;

}

.contet-list tbody tr {
    border-bottom:1px solid #79b327;
    border-top:1px solid #79b327;
}

.contet-list thead tr td{
    //border: 1px solid #ddd !important;
    background-color: #F1F1F1;
    text-align: center;
}

.contet-list tbody tr td{
    border: 1px solid #ddd !important;
}

.contet-list thead tr td{
    border-top:1px solid #79b327;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.contet-list thead tr {
    border-bottom:1px solid #79b327;
}

.contet-list{
    margin-bottom: 15px;
    box-shadow: 0 0 5px #CCC;
    width: 100%;
    border-bottom:1px solid #79b327;
}

.main-container {
    width: 1200px;
    float: left;
}

/*---------END OF WIDGET STYLES-----------*/


.news-filter-form {
    height: 25px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.news-filter-form  input,
.news-filter-form  select  {
    padding: 4px 5px;
    font-size: 12px;
    height: 100%;
}

.news-filter-form  input[type='submit'] {
    margin-top: -1px;
    padding: 4px 15px;
}

/*---------PAGINATION STYLES-----------*/
.pagination {
    width: 100%;
    float: left;
    margin:0;
    padding: 5px 0;
}

.pagination ul{
    width: 100%;
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0 0 5px;
}

.pagination ul li {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
}

.pagination ul li a {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #79b327;
    border:1px solid #CCC;
    color: #FFF;
    text-align: center;
    line-height: 30px;
}

.pagination ul li a:hover {
    background-color: #2A970C;
    color: #ddd;
}

.pagination ul li.active a {
    background-color: #333;
    color: #FFF;
}

.pagination ul li.active a:hover {
    color: lightcyan;
}

/******************************************************************/

.manage-nav ul {
    margin-left: 25px;
}

.manage-nav ul:first-child {
    margin-left: 0;
}
