/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2016, 4:52:14 PM
    Author     : Saif
*/
* {
    box-sizing: border-box;
}



@font-face {
  font-family: 'SolaimanLipi';
  src: url('../fonts/SolaimanLipi.eot');
  src: url('../fonts/SolaimanLipi.woff2') format('woff2'),
       url('../fonts/SolaimanLipi.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SolaimanLipiNormal.woff') format('woff'),
       url('../fonts/SolaimanLipiNormal.ttf') format('truetype'),
       url('../fonts/SolaimanLipiNormal.svg#SolaimanLipiNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-size: 15px;
    font-family: arial, SolaimanLipi, sans-serif;
    background-color: #e2e2e2;
    background-color: #aa9292;
    background-color: #dedede;
    color: #333;
    overflow-y: scroll;
    font-weight: normal;
/*   overflow-x: hidden;*/
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


.inputRadio {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
    float: left;
    min-width: 25px;
}

/* Hide the browser's default radio button */
.inputRadio input[ type='radio' ] {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.radioButton {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    z-index: 10;
}

/* On mouse-over, add a grey background color */
.inputRadio:hover input ~ .radioButton {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.inputRadio input:checked ~ .radioButton {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioButton:after {
    content: "";
    position: absolute;
    display: none;
}



/* Show the indicator (dot/circle) when checked */
.inputRadio input:checked ~ .radioButton:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.inputRadio .radioButton:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#quiest-opt-option-value  {
    width: auto;
}
#quiest-opt-option-value .radioButton:after {
    background: none;
    height: 0;
    width: 0;
}

#quiest-opt-option-value input:checked ~ .radioButton {
    color: #FFF;
}

#center {
    width: 1250px;
    margin: 0 auto;
}

#main {
    width: 100%;
    float: left;
    box-shadow: 0 0 2px #333;
    background-color: #1F201F;
}

#section-message {
    position: fixed;
    top: 0;
    left:0 ;
    text-align: center;
    padding: 12px;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.8);
    display: none;
    font-size: 15px;
    border-bottom-width: 5px;
    font-weight: bold;
    z-index: 100000;
}

#section-message ul {
    width: auto;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 18px;
    list-style-type: square;
}


#sidebar {
    width:20%;
    min-height: 500px;
    float: left;
}

.profile {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.profile .user-action{
    width: 100%;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 15px;
}

.profile .user-action li{
    font-size: 16px;
    position: relative;
}

.profile .user-action li a{
    color: #FFF;
    padding: 10px 0;
    
}

.profile .user-action li a span{
    color: #FFF;

}

.profile .user-action ul{
    text-align: right;
    list-style-type:none;
    width: 150px;
    position: absolute;
    top: 150%;
    box-shadow:#333 0 0 6px 5px;
    background-color: #ccc;
    left: 50px;
    padding: 0;
    z-index: 100;   
    border-radius: 5px;
    display: none;
}

.profile .user-action ul li{
    float: left;
    width: 100%;
}

.profile .user-action ul li a{
    padding: 10px 20px;
    float: left;
    width: 100%;
    border-bottom:1px solid green;
    color: #000;
    text-decoration: none;
}

.profile .pic-wrap {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
 
.profile .profile-pic {
    float: left;
    width: 100%;
    overflow: hidden;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #4C4C4C;
}
.profile .profile-pic img{ 
    height: 100%;
    width: auto;
    //margin-left: -10%;
}

#header {
    background-color: #579240;
    background-color: #4d7292;
    background-color: #9ACE74;
    background-color: #4d7292;
    width: 80%;
    float: left;
    padding: 15px
}

#header h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #FFF;
}

#body {
    width: 80%;
    min-height: 500px;
    float: left;
    padding: 15px;
    background-color: #dedede;
    background-color: #FFF;
}

#footer {
    width: 100%;
    min-height: 60px;
    float: left;
    padding: 8px 15px;
    background-color: #4C4C4C
}

#footer p{
    text-align: center;
    width: 100%;
    color:#FFF;
}

.sidebar-top {
    padding: 8px 15px;
    border-bottom: 1px solid #579240;
    float: left;
    width: 100%;
    height: 75px;
    margin: 10px 0;
}

.logo {
    font-family: verdana, sans-serif;
    display: inline;
    float: left;
    width: 100%;
}

.logo h1 { 
    font-size: 25px;
    color: #9ACE74;
    color: #4d7292;
    color: #a7ceef;
    color: #dcdcdc;
}

.logo h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    float: left;
    display: block;
}

.logo h1 small {
    color: #FFF;
}

.menu {
    padding: 0 ;
    float: left;
    width: 100%;
    //background-color: #0066af;
}

.menu ul {
    display: inline;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu ul li {
    display: block;
    margin-right: 1px;
    float: left;
    width: 100%;
    position: relative;
    font-size: 13px;
    
}

.menu ul li ul{
    display: none;
    position: absolute;
    width: 130px;
    background-color: #000;
    top: 0;
    left: 100%;
    float: left;
    border-radius: 0 0 5px 5px;
}

.menu ul.right li ul{
    left:  100%;
    top: 0;
}

.menu ul li ul li:last-child a {
    border-radius: 0 0 6px 6px;
}

.menu ul li ul li {
    margin-top: 1px;
    margin-bottom: 2px;
}

.menu ul li ul li ,
.menu ul li ul li a{
    width: 100%;
}

.menu ul li:hover > ul {
    display: block;
}

.menu ul li a{
    width: 100%;
    padding: 15px 15px;
    float: left;
    //background-color: #1c3344;
    color: #d0cfcf;
    text-decoration: none
        
}

.menu ul li a:hover {
    background-color: #654e0d;
    background-color: #16456c;
    color: white;
}

.menu ul li.active {
    border-left: #4d7292 5px solid;
}
.menu ul li.active a,
.menu ul li.active a:hover{
    background-color: #4C4C4C;
    color: #FFF;
    float: left;
    //border-left: #579240 5px solid;
}
.menu ul li.active ul a{
    background-color: #1c3344;
    color: #d0cfcf;
}

.menu ul li.active ul a:hover{
    background-color: #654e0d;
    color: white;   
}

.left{
    float: left;
}

.right{
    float: right;
}

li.profile-pic {
    width: 26px;
    height: 26px;
}

li.profile-pic span.default-pic{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 100%;
    background-color: #1c3344;
    display: block;
    float: left;
}


/**************** Registration css ******************/

input, textArea {
    padding: 6px 7px;
}

input[type='text'], input[type='password'], textArea, select {
    font-family: sans-serif;
    border: 1px solid #AAA;
    outline: none;
    font-size: 12px;
}
input[type='file'] {
    padding: 0;
}

select {
    padding: 5px 7px;
}

input[type='text'] {
}

.input {
    float: left;
    width: 100%;
    margin:10px 0 5px 0;  
}



.error {
    color: magenta;
}

.error p {
    padding: 0;
    margin: 0 0 3px 0;
}

#user-form .input {
    width: 310px;
}
#user-form {
    width: 350px;
    float: left;
}

 label{
    display: inline-block;
}

/********************************************************/

.content-list {
    border-collapse:collapse;
    min-width: 100%;
    float: left;
}


.content-list td{
    padding: 6px 10px;
    border: 1px solid #ccc;
}
.content-list thead td{
    text-align: center;
    font-weight: bold;
    border: 1px solid #112c1f;
    background-color: #1a422e;
    color: #eee;
    position: relative;
}
.content-list thead tr{
    border-bottom: 1px solid #456;
}

#profile-data {
    width: 550px;
    float: left;
}

.data-single {
    //border: 1px solid red;
    width: 100%;
    float: left;
}

.data-single .key {
    float: left;
    width: 100px;
    font-weight: bold;
    padding: 0;
    margin: 6px 0;
}

.data-single .value {
    float: left;
    padding: 0;
    margin:6px 0;
}




.btn {
    margin-top: 10px;
    font-size: 12px;
    margin-right: 10px;
    float: none;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(62, 173, 117, 0.95);
    border: 1px solid hsla(215, 56%, 67%, 0.76);
    padding: 4px 7px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}

.btn.close {
    padding: 5px;
    text-decoration: none;
    font-family: verdana, sans-serif;
    color: #333;
    background-color: #CCC;
    border: 1px solid #333;
    border-radius: 1px;
}
.btn:disabled {

    color: #f5f5f5;
    background-color: #8fd6b3f2;

}

#section-message:hover .btn.close {
    background-color: #FFF;
}


.btn.close:hover {
    background-color: #FFF;
    color: maroon;
}

.relations {
    width: 100%;    
    float: left;
}

.cke_inner {
    border-left: 1px solid #d1d1d1 !important;
}

/*=======Core section=======*/
.left-column ,
.right-column {
    width: 50%;
    float: left;
}

.left-column {
    padding-right: 12px
}

.core-section  {
    border:1px solid red;
    float: left;
    width: 100%;
    box-shadow: 0 0  5px #8efbc4;
    border: 1px solid #CCC;
    margin: 0%;
    margin-bottom: 12px;

}

.core-section.popup {
    float: none;
    width: auto;
}


.core-section .section-header {
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    float: left;
}
.core-section .section-header .section-name {
    display: inline;
}

.core-section .section-footer {
    border-bottom: 1px solid #CCC;
}

.core-section .section-header ,
.core-section .section-body ,
.core-section .section-footer {
    padding: 8px 10px;
    float: left;   
    width: 100%;
    text-align: left;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background-color: #FFF;
}

.core-section.popup .section-body {
    background-color: #FFF;
}
.core-section .section-footer .section-footer-in {
    text-align: center;
    float: none;
    width: 100%;
}

.core-section .section-footer .btn {
    margin: 0;
    float: none;
    display: inline-block;
}

.core-section .reload-btn, .core-section .collaps-btn {
    display: inline-block;
    float: right;
    margin-left: 5px;
    overflow: hidden;
    height: 20px;
    width:  20px;
    cursor: pointer;
}

.core-section .reload-btn img, .core-section .collaps-btn img {
    width: 100%;
    opacity: 0.7;

}

.core-section .collaps-btn {

}

/*=============================================*/