/******Pages and article css*****/

#cagetory-page-top {
    margin-top: 15px;
}

#cagetory-page-top .heading{
    float: left;
    width: 100%;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #999;
    padding: 10px;
    margin-bottom: 20px;
}

#cagetory-page-top .heading h1 {
    font-size: 20px;
    margin: 0;
}

.breadcrumb-container {
    float: left;
    margin-bottom: 8px;
    width: 100%;
}
.breadcrumb-container .breadcrumb {
   margin: 0;
   padding:5px 0 ;
   background: none;
}
.breadcrumb-container .breadcrumb li {
    font-size: 14px;
}

.breadcrumb-container .breadcrumb li+li:before {
    content: "\00BB";
    color: #333;
}

.list-by-category, .list-by-category-each, .list-by-cat-image, .list-by-cat-title, .list-by-cat-date, .list-by-cat-body,.list-by-cat-right {
    float: left;
    display: block;
    position: relative;
}

.list-by-category {
    width: 100%;
}

.list-by-category-each {
    width: 100%;
    margin: 10px 0;
}

.list-by-cat-image {
    width: 20%;
    height: 100px;
    clear: none;
}

.list-by-cat-right {
    display: inline-block;
    float: none;
    width: 80%;
    padding-left:10px;
}
.list-by-cat-title {
    font-size: 18px;
    margin: 0 0 10px;
    width: 100%;
}

.list-by-cat-date {
    width: 100%;
    margin-bottom: 5px;
}

.list-by-cat-body {
    font-size: 12px;

}

#single-page-top {
    margin-top: 15px;
}

.breadcrumb-container {
    float: left;
    margin-bottom: 8px;
    width: 100%;
}
.breadcrumb-container .breadcrumb {
   margin: 0;
   padding:5px 0 ;
   background: none;
}
.breadcrumb-container .breadcrumb li {
    font-size: 14px;
}

.breadcrumb-container .breadcrumb li+li:before {
    content: "\00BB";
    color: #333;
}
.news-single-title {
    width: 100%;
    float: left;
    border-top: 1px solid #DDD; 
    border-bottom: 1px solid #DDD; 
}

.news-single-title h2 {
    width: 100%;
    float: left;
    margin: 0;
    padding: 8px 0;
    font-size: 22px;
}

.news-single-information {
    width: 100%;
    float: left;
    border-bottom: 1px solid #CCC;
    margin-bottom: 25px;
    padding:0 0 3px 0;
}

.news-single-information div {
    display: inline-block;
    font-size: 14px;
    color: #888;
    padding-top: 5px
}
.news-single-information .writer {

}

.news-single-information .writer:after {
    content: "|";
    padding: 0px 5px 0 5px;
    font-size: 15px;
    color: #333;
}

.news-single-body {
    font-size: 20px;
    line-height: 1.5;
}

.news-comments {
    width: 100%;
    float: left;
}

.comment-form {
    width: 100%;
    float: left;
}

.comment-form-in  {
    width: 100%;
    float: left;
}

.comment-form-in .input-group {
    margin-bottom:3px;
    width: 100%;
}
.comment-form-in textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 250px;
    resize: none;
}

.single-page-recent {
    float: left;
}
.comment-item {
    margin-top: 20px;
    font-size: 15px;
    border-bottom: 1px dotted #CCC;
    padding-bottom: 4px;
}

.comment-item .name {
    font-weight: bold;
    color: #035489;
    display: inline-block;
    float: left;
    margin-right: 9px;
}
/********************************/
