/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2016, 3:01:25 PM
    Author     : Saif
*/
/*
@font-face {
    font-family: "SolaimanLipi";
    src:url("../fonts/SolaimanLipi.ttf");
}/*
@font-face {
    font-family: "SolaimanLipi";
    src:url("../fonts/Bangla.ttf");
}
*/

@font-face {
    font-family: "AdorshoLipi";
    src:url("../fonts/AdorshoLipi_20-07-2007.ttf");
}

body {
    font-family: "AdorshoLipi", Arial, sans-serif;
    font-size: 12px;
    color: #333;
}

.image-container, .image-container-vh {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #888;
    box-shadow: inset 0 0 80px #333;
}

.image-container img{
    width: 100%;
}
.image-container-vh {
    text-align: center;
}

.image-container-vh img {
    height:  100%;
    text-align: center;
}

.list-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-item li {
    float: left;
}

.list-item li a {
    text-decoration: none;
}

.list-item li a:hover {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "AdorshoLipi", Arial, sans-serif;
}

.section-header {
    text-align: center;
    height: 35px;
    width: 100%;
    line-height: 35px;
    font-size: 17px;
}

/******************************************************/

#header-top, #header-bottom {
    position: relative;
}

#header-top {
    //border-bottom:1px solid red;
    height: 30px;
}
    
#header-bottom {
    //background-color: #419641;
}

.logo {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    display: block;
}

.logo a {
    width: 100%;
    height: 100%;
    float: left;
    font-size: 40px;
}

.red-border {
    border: 1px solid red;
}

.green-border {
    border: 1px solid green;
}

.blue-border {
    border: 1px solid blue;
}


//start of menu styling
.menu-container {
    border:1px solid white;
    padding-right: 0 !important;
}

#navbar-custom {
    border: 1px solid #DDD;
}

#myNavbar {
    margin: 0;
    padding: 0;
}

#myNavbar ul {
     margin: 0;
     padding: 0;
}

#myNavbar ul li{
    font-size: 15px;
    border-right: 1px solid #DDD;
}

//end of menu styling




//starting slider style
#slider {
    float: left;
}

#gallery {
    height: 500px;
    float: left;
    width: 100%;
    position: relative;
    border:1px solid #d2d2d2;
    overflow: hidden;
    padding: 0;
}

.gallery-element {
    width: 100%;
    border: 1px solid red;
    height: 100%;
}
.gallery-image-container{

    width: 100%;
    height: 100%;
    float: left;
}

.gallery-image-container img {
    width: 100%;
}

#slider-in {
    height: 300px;
    float: left;
    width: 100%;
    position: relative;
    border:1px solid #d2d2d2;
}


#slider-in .prev-btn,#slider-in .next-btn {
    position: absolute;
    font-size: 40px;
    color: #FFF;
}

#slider-in .prev-btn {
    left: 0;
    top: 40%;
}

#slider-in .next-btn {
    right: 35%;
    top: 40%;
}

.slider-control {
    width: 30%;
    position: absolute;
    right: 35px;
    bottom: 10px;
}
.slider-control ul {
    list-style: none;
    width: 100%;
}

.slider-control li {
    width: 30px;
    height: 30px;
    z-index: 5;
    background-color: #FFF;
    text-align: center;
    margin: 0 3px 0px;
    float: left;
    font-size: 13px;
}
.slider-control li  a{
    width: 100%;
    height: 100%;
    float: left;
    line-height: 30px;
    border: 1px solid #555;
    background-color: #888;
    color: #FFF;
}

.slider-control li  a:hover {
    background-color: #333;
    text-decoration: none;
}

.slider-control li.active  a {
    background-color: #047d65;
}

.slider-element {
    height: 100%;
    width: 100%;
    float: left;
    display: none;
}

.slider-image-container {
    width: 65%;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: #999;
    box-shadow: inset 0 0 100px #000;
    

}
.slider-image-container img {
    height: 100%;display: inline-block;
}

.slider-text-container {
    width: 35%;
    float: left;
    height: 75%;
    padding: 0 10px 10px 10px;
}

.prev-btn {
    
}
.next-btn {
    
}

.slider-text-head {
    margin-top: 2px;
    font-size: 22px;
    font-weight: bold;
    font-family: "AdorshoLipi";
}

.slider-text-body {
    font-size: 13px;
    margin-top: 10px;
}

footer {
    width: 100%;
    margin-top: 50px;
}

//Styling for top right section 

.top-right {
    float: left;
    border: 1px solid #ccc;
}

.top-right-in {
    width: 100px;
    float: left;
}

.top-right-element {
    width: 50%;
    float: left;
    padding:0 0 10px 10px;
    
}
.top-right-element-img-cont {
    border: 1px solid #ddd;
    height: 95px;
}

.top-right-element-text {
    width: 100%;
    height: 50px;
}

.top-right-element-text h2 {
    font-size: 15px;
    margin: 0;
    font-family: "AdorshoLipi", Arial, sans-serif;
    margin-top: 4px;
}

#section-top { 
    border-bottom:  2px solid green;
    margin-top: 15px !important;
    padding-bottom: 15px;
}

.sesciton-second {
    margin-top: 15px;
    padding: 15px;
}

#news-column-1, #news-column-2 {
    padding-left: 0;
    padding-right: 15px;
}


.news-column-1-in, .news-column-2-in {
    width: 100%;
    border-right:  2px solid #666;  
    float: left;
    padding-right: 10px;
}

.news-col-element {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    border-bottom: 2px solid #999;
}

.news-col-element-img {
    width: 35%;
    height: 135px;
    float: left;
    border:1px solid black;
    margin-top: 4px;
    text-align: center;
}

.news-col-element-content {
    width: 65%;
    padding: 5px 10px 20px 25px;
    float: left;
    height: 155px;
    overflow: hidden;
    margin-bottom: 15px;
}

.news-col-element-head {
    font-family: "AdorshoLipi", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 8px 0;
    font-weight: bold;
    padding-bottom: 5px;
    //border-bottom: 2px solid #666;
}

.news-col-element-body {
    font-size: 14px;
    height: 100%;
}

#recent-most-read {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0;
}

.recent-most-read-in {
    float: left;
    width: 100%;
}

.recent-tab-section {
    height: 35px;
    width: 100%;
    float: left;
    border-bottom: 2px solid #DDD;
}

.tab-selector {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tab-selector li {
    width: 50%;
    float: left;
    border-top: 5px solid #CCC;
}

.tab-selector li a {
    width: 100%;
    float: left;
    height: 100%;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    color: #333;
}

.tab-selector li a:active {
    text-decoration: none;
    color: #333;
}
.tab-selector li a:hover {
    text-decoration: none;
    color: #333;
}

.recent-content-section {
    overflow-y: scroll;
    float: left;
    height: 735px;
    width: 100%;

}

.tab-selector li.active {
    border-top: 5px solid #599;
}

.recent-news-element {
    width: 100%;
    float: left;
    border-bottom: 1px solid #DDD;
    padding: 12px ;
}

.recent-element-img {
    width: 80px;
    height: 50px;
    clear: right;
    display: inline-block;
    float: left;
    margin-right: 12px;
    border: 1px solid #E1E1E1;
}

.recent-news-element-content {
    display: inline;
    clear: both;
}
.recent-news-element-head {
    font-size: 14px;
    display: inline;
    clear: both;
    margin-bottom: 10px;
    font-family: "AdorshoLipi", Arial, sans-serif;
}


.recent-news-element-date {
    margin-top: 4px;
    color: #999;
}

/******************************************************/

.special-section {
    margin-top: 8px;
    margin-bottom: 8px;
    padding:  15px 0;
    border-top: 5px solid rosybrown;
}

#scecial-section-left {
    
}

.link-list {
    
}

.link-list-tab-selector {
    background-color: #283136;
    height: 40px;
    width: 100%;
    float: left;
    font-family: "Siyam Rupali ANSI", Arial, sans-serif;
}

.link-list-tab-selector ul li {
    border-right: 1px solid #151515;
    border-left: 1px solid #666;
}

.link-list-tab-selector ul li a{
    color: #FFF;
    line-height: 40px;
    padding: 0 8px;
    font-size: 13px;
}

.link-list-tab-selector ul li.active {
    background-color: #034B71;
}

.link-list-contents {
    width: 100%;
    height: 200px;
    background-color: #0191CE;
    float: left;
}
.link-list-element {
    padding: 10px;
    color: #FFF;
}

.link-list-element ul li a {
    color: #FFF;
}

/**************************************************************/

.spcial-news {
    margin-top: 15px;
    float: left;
}

.spcial-news-head {
    height: 35px;
    width: 100%;
    float: left;
    background-color: #035489;
    line-height: 35px;
    color: #fff;
    font-size: 18px;
    padding: 0 12px;
}

.spcial-news-contents {
    
}

.spcial-news-element {
    float: left;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px 0 0 0;
}

.spcial-news-spcaial-line, 
.spcial-news-element-head {
    width: 100%;
    float: left;
    margin: 0;
}
.spcial-news-spcaial-line {
    font-size: 16px;
} 
.spcial-news-element-head{
    font-size: 22px;
    font-weight: bold;
    margin: 5px  0 8px 0;
    color: #035489;
}

.spcial-news-image-cont {
    width: 100px;
    height: 70px;
    display: inline-block;
    border: 1px solid #DDD;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #ffffff;
}

.spcial-news-content {
    display: inline;
    font-size: 14px;
}
.spcial-news-content .news-details {
    color: #333;
    font-weight: bold;
}

.spcial-news-date-comment {
    display: inline;
    clear: left;
    float: left;
    width: 100%;
    margin-top: 6px;
    color: gray;
}



/************************************************/

.news-paper-list {
    width: 100%;
    float: left;
    border: 1px solid #ddd;
}

.paper-list-head {
    width: 100%;
    float: left;
    background-color: #00AEED;
}

.news-paper-list-item{
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    float: left;
    clear: both;
}

.news-paper-list-item ul.paper-news{
    width: 75%;
    float: left;
    padding: 0 8px;;
    list-style: none;
}
.news-paper-list-item ul.paper-news li{
    margin-bottom: 8px;
    float: left;
    width: 100%;
}

.paper-image-item {
    float: left;
    width: 25%;
    padding: 5px;
    background: none;
    box-shadow: none;
}
.paper-image-item {
    display: block;
}

.paper-list-head {
   //
}

.news-paper-list-main {
    float: left;
    margin-top: 15px;
    width: 100%;
}

/***************************************************/
.one-column-news-list {
    clear: none;
    float: left;
}

.two-column-news-list {
    float: left;
    margin-right: -15px;
}



.two-column-news-list .two-colmn-left {
    padding-left: 0;
    margin-right: -15px;
}

.two-column-news-list .two-colmn-right {
    padding-right: 0;
    
}

.news-in-row {
    float: left;
    padding:0;
    margin:0 -15px 15px;
}

.section-top-news {
    width: 100%;
    float: left;
}

.section-top-news-image {
    width: 100%;
    text-align: center;
    height: 150px;
}

.main-news-section {
    padding: 15px 0;
    border-top:3px solid green;
}

.section-top-news-title {
    font-size: 15px;
    width: 100%;
    float: left;
    margin-top: 5px;
}

.section-top-news-title a {
    color: #37587A;
}




.news-list-head {
    text-align: center;
    background-color: #00AEED;
    height: 35px;
    width: 100%;
    line-height: 35px;
    font-size: 17px;
    color: #333;
}

.news-list-ul {
    list-style-type: circle;
    padding-top: 8px;
    list-style-position: inside;
}

/*
.news-list-ul li:before {
    content:"\e258";
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
}
*/
.news-list-ul li {    
    
    clear: none;
    padding: 8px 0;
    border-bottom: 1px solid #E9E8F0;
    width: 100%;
}
.news-list-ul li a {
    
}
/**************************************************/

.other {
    width: 100%;
    float: left;
}

.other-section-head {
    background-color: #00AEED;
    color: #333;
}

.other-body {
    padding-top: 5px;
    margin-bottom: 10px;
}
.bottom-sidebar-element {
    float: left;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #047d65;
}
.bottom-sidebar-element .one-column-news-list{
    width: 100%;
}
.bottom-sidebar-element .col-lg-4{
    padding: 0;
}

.sidebar-news-element {
    width: 50%;
    display: block;
    float: left;
    padding: 5px 0;
}


.sidebar-news-image-container {
    width: 100%;
    height: 100px;
}

.university-list-item {
    border: 1px solid #555;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
}
.university-image-container{
    width: 100%;
    height: 170px;
    border-bottom: 1px solid #555;
}

.university-title {
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 15px;
    text-align: center;
}

.university-description {
    font-size: 13px;
}

/****************************************/
#footer-nav-list {
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 25px 0 50px;
    background-color: #C7EAFD;
    float: left;
}

#footer-top {
    float: left;
    border-top: #DDD 1px solid;
    border-bottom: #DDD 1px solid;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 15px 0;
    
}

#footer-top li#footer-top-column {
    border-right: 1px dashed #999;
}

#footer-top li#footer-top-column .menu-title{
    color: #000;
}

#footer-top li#footer-top-column:last-child {
    border: none;
}

#footer-top li#footer-top-column ul#footer-top-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 8px;
    min-height: 200px;
    font-size: 12px;
}

#footer-top li#footer-top-column ul#footer-top-list a {
    color: #555;
}

#footer-top li#footer-top-column ul#footer-top-list a:hover {
    color: #333;
}

#footer-top-list {
    
}


#footer-nav-column {
    margin: 0;
}

#footer-nav-column ul.footer-nav {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    list-style-type: none;
}

.footer-nav li {
    font-size: 14px;
    margin-bottom: 8px;
}

.footer-nav li a {
    color: #333;
}

.footer-nav li a:hover {
    color: #0191CE;
}


/********************************/
