.client-dashboard-img, .building-image, .each {
    float: left;
}
.client-dashboard-img {
    width: 100%;
}

.client-dashboard-img .building-image{
    width: 100;
}
.client-dashboard-img .building-image .each{
    width: 100%;
    height: 365px;
    overflow: hidden;
}
.client-dashboard-img .building-image .each img{
    width: 100%;
}