.content-header {
    float: left;
    width: 100%;
    padding: 5px 0;
}

#basic-filter {
    font-size: 15px;
    width: auto;
    margin-right: 2px;
    height: 25px;
}

#basic-filter .radioButton {
    position: relative;
    padding: 0 5px;
    height: 25px;
    width: auto;
    background-color: #eee;
    border-radius:0;
    text-align: center;
    line-height: 25px;
    z-index: 10;
    float: left;
    left: 0;
}

/* On mouse-over, add a grey background color */
#basic-filter:hover input ~ .radioButton {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
#basic-filter input:checked ~ .radioButton {
    background-color: #2196F3;
    color: #FFF;
    padding-left: 25px;
}

#basic-filter.trash-btn .radioButton{
    background-color:  #f5c0bf;
}

#basic-filter.trash-btn input:checked ~ .radioButton {
    color: #581a19;
}

/* Style the indicator (dot/circle) */
#basic-filter .radioButton:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

#basic-filter.trash-btn .radioButton:after {       
    background: #581a19;
}

.question-list {

}
.question-list td .btn {
    margin: 0;
}

.question-list td.question {
    width: 280px;
}
.question-list td.answer {
    width: 150px;
}
.question-list thead td {
    font-size: 12px;
}

.add_question_open {
    float: right;
    margin: 0;
}

.filter {
    float: left;
}

.search {
    float: left;
    margin-left: 10px;
}

.search input {
    height: 25px;
}

.questions-list-form {
    position: relative;
}

.question-category-list .__content__list__ ,
.question-category-list-edit .__content__list__ {
    min-height: 50px;
    max-height: 180px;
    overflow-y: scroll;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.question-category-list #search-string ,
.question-category-list-edit #search-string {
    width: 100%;
    padding: 5px 4px;
    font-size: 12px;
}

.question-category-list .__content__list__ label ,
.question-category-list-edit .__content__list__ label {
    width: 100%;
    padding: 4px 5px;
    border-bottom: 1px solid #CCC;
}
.question-category-list .__content__list__ label:last-child ,
.question-category-list-edit .__content__list__ label:last-child {
    border: none;
}