﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"SolaimanLipi";src:url("SolaimanLipi_29-05-06.eot?") format("eot"),url("SolaimanLipi_29-05-06.woff") format("woff"),url("SolaimanLipi_29-05-06.ttf") format("truetype"),url("SolaimanLipi_29-05-06.svg#SolaimanLipi") format("svg");font-weight:normal;font-style:normal;}
