@font-face {
  font-family: 'SolaimanLipi';
  src: url('SolaimanLipi.eot');
  src: url('SolaimanLipi.woff2') format('woff2'),
       url('SolaimanLipi.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SolaimanLipiNormal';
  src: url('SolaimanLipiNormal.woff') format('woff'),
       url('SolaimanLipiNormal.ttf') format('truetype'),
       url('SolaimanLipiNormal.svg#SolaimanLipiNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

